.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 2rem;
  margin-top: 2rem;
  // border: 1px solid red;

  &--logo {
    // border: 1px solid blue;
    font-family: $f-abril;
    font-weight: 400;
    grid-row: 1;
    grid-column: 1;
    font-size: 60px;
  }

  &--nav {
    grid-row: 1;
    grid-column: 2;
    // border: 1px solid green;

    display: none;
    @include sm {
      display: flex;

      justify-content: end;
      align-items: center;
    }

    &--item {
      // height: 2rem;
      text-align: center;
      justify-items: end;
      padding: 15px;
      margin-right: 15px;
      color: $c-Dark-grayish-blue;
      transition: 0.5s;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: $c-Soft-red;
        transition: all 0.5s ease;
      }
    }
  }

  &--mobile-menu {
    position: relative;
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: end;
    justify-items: end;
    z-index: 999;
    // right: 0;
    @include sm {
      display: none;
    }
    // border: 1px solid red;
    span {
      margin-top: 42px;
      display: block;
      position: absolute;
      width: 48px;
      height: 3px;
      background-color: $c-Very-dark-blue;
      transform: rotate(0deg);
      transition: all 0.4s;
    }
    span:nth-child(1) {
      top: 0;
    }
    span:nth-child(2) {
      top: -10px;
    }
    span:nth-child(3) {
      top: 10px;
    }

    &--clicked {
      span:nth-child(1) {
        opacity: 0;
      }
      span:nth-child(2) {
        transform: translateY(10px) rotate(45deg);
      }
      span:nth-child(3) {
        transform: translateY(-10px) rotate(135deg);
      }
    }
  }
  &--nav-mobile {
    position: absolute;

    content: "";
    top: 0;
    right: 0;
    background-color: $c-Off-white;
    color: $c-Very-dark-blue;
    width: 75vw;
    height: 100vh;
    transition: all 0.5s ease;
    @include sm {
      display: none;
    }
    &--items {
      padding-top: 20ch;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;

      &--item {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }
  }
}
